<html>
    <head>
        <title> Soleil Experience </title>
        <style>
            .container {
                background: url(https://s3-ap-southeast-2.amazonaws.com/peazie-syd/uploads/company-539/campaign-1496/campaign_app-1532/campaign_app_page-4272/element-8356/54403ce40d91e0-19158375.png) no-repeat;
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container">

        </div>
    </body>
</html>
